@import "tailwindcss";
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
/* Optional: Smooth font */
body {
  font-family: 'Inter', sans-serif;
}

.bg-secondary-black {
  background-color: #1a1a1a;
}
